/* LAYOUT */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-fixed {
  background-color: #000000;
  height: 100px;
  width: calc(100vw - 300px);
  position: fixed;
  top: 0;
  right: 0;
}

main {
  display: flex;
}

.sidebar {
  background-color: #000000;
  height: calc(100vh - 100px);
  width: 300px;
}

.selections {
  background-color: #141922;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  width: calc(100vw - 300px);
}

.player-fixed {
  background-color: #282828;
  height: 100px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* NAVBAR TOP */

.navbar-button {
  height: 60px;
  padding: 10px 30px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
  margin-right: 25px;
}

.navbar-fixed {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.9;
}

/* SIDEBAR */

aside {
  color: #696969;
  font-weight: bold;
}

img.logo {
  width: 75%;
  height: auto;
}

.logo-mobile {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul li, .sidebar h1, .sidebar .add-playlist i {
  padding-left: 20px;
}

.sidebar ul li.green-border-left {
  border-left: 5px solid #adff2f;
  color: #ffffff;
  margin-left: 2px;
  padding-left: 13px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar h1 {
  color: #ffffff;
}

.add-playlist {
  display: flex;
  align-items: center;
}

i.big-plus {
  font-size: 40px;
}

.add-playlist span {
  padding-left: 20px;
}

.sidebar ul li {
  padding-top: 15px;
}

.top-sidebar .playlist {
  height: 30vh;
  overflow-y: auto;
}

.user {
  padding: 0 20px 10px 20px;
}

.user-avatar {
  background-color: #696969;
  color: #ffffff;
  border-radius: 50%;
  border-style: none;
  height: 30px;
  width: 30px;
}

.user hr {
  border-color: #696969;
}

.user-name {
  color: #ffffff;
}

/* PLAYER BOTTOM*/

.player-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.player-left {
  display: flex;
}

.album-picture img {
  height: 50px;
  width: auto;
  padding: 10px;
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.add-favourite {
  display: flex;
  align-items: center;
  padding: 10px;
}

.album-info .track-name {
  color: #696969;
}

.add-favourite i {
  color: #696969;
  padding-left: 10px;
}

/* SELECTIONS MAIN */

.nav-main {
  padding-top: 125px;
  text-align: center;
}

.nav-main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-main ul li {
  display: inline-block;
}

.nav-main ul li .green-border-bottom {
  height: 5px;
  width: 30px;
  margin: 0;
  position: relative;
  left: calc(50% - 15px);
  border-bottom: 3px solid #adff2f;
}

.nav-main span {
  text-transform: uppercase;
  color: #696969;
  font-weight: bold;
  padding: 0 10px;
}

.list-title {
  padding: 30px;
}

.list-title h1 {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}

.recently-played {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.card {
  width: calc(100%/6 - 20px);
  min-width: 150px;
  height: auto;
  padding: 0.5vw;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.card .title-main {
  margin: 5px;

}

.card .subtitle-main {
  font-size: 14px;
  color: #696969;
}

.suggested {
  display: flex;
}

.subtitle-info {
  font-size: 14px;
  color: #696969;
}

.most-popular {
  display: flex;
}

.card-round img {
  border-radius: 50%;
}

.card-play-icon {
  display: none;
}

.card-play-icon i {
  font-size: 60px;
  color: #ffffff;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

/* HOVER */

.hover-white:hover {
  color: #ffffff;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-button:hover {
  height: 70px;
  font-size: 16px;
  border-radius: 50px;
  margin-right: 10px;
}

.card:hover {
  cursor: pointer;
}

.card img:hover {
  opacity: 0.5;
}

.card img:hover .card-play-icon {
  display: inline-block;
}

/* MEDIA QUERY */

@media all and (max-width: 552px) {

  .sidebar {
    width: 50px;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .sidebar ul li {
    padding-left: 15px;
  }

  .sidebar ul li.green-border-left {
    border-left: 0px solid #adff2f;
    color: #ffffff;
    margin-left: 0;
    padding-left: 15px;
  }

  .sidebar ul li span, .playlist-title, .add-playlist, .bottom-sidebar span, .bottom-sidebar hr {
    display: none;
  }

  .user {
    padding: 10px;
  }

  .user .fa-arrow-alt-circle-down {
    padding: 10px 5px;
  }

  .navbar-fixed {
    width: calc(100vw - 50px);
  }

  .selections {
    width: calc(100vw - 50px);
  }
}
